// 一、背景
.bg-transGray-4{
    background-color: rgba(255, 255, 255, .4);
}
.bg-transGray-2{
    background-color: rgba(255, 255, 255, .2);
}
.bg-transGray-6{
    background-color: rgba(255, 255, 255, .6);
}
.bg-trans-dark-4{
    background-color: rgba(0, 0, 0, .4)
}
.bg-trans-dark-8 {
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.7));
}
.bg-secondary-white{
    background: linear-gradient(to right, $secondary 50%, white 50%);
}
.bg-light-purple-white{
    background: linear-gradient(to right, $lightPurple 50%, white 50%);
}
.bg-secondary-light-purple{
    background: linear-gradient(to bottom, $secondary 30%, $lightPurple 70%);
}
.bg-light-purple-secondary{
    background: linear-gradient(to bottom, $lightPurple 30%, $secondary 70%);
}
.bg-primary-purple{
    background: linear-gradient(to right, $primary , $purple);
    color: white;
}
.bg-secondary-light-purple-horizontal{
    background: linear-gradient(to right, $secondary 30%, $lightPurple 70%);
}
.bg-gradient-purple{
    background: linear-gradient(90deg, #6ea3fe ,#cab8ff);
}
.backdrop-blur-5{
    backdrop-filter: blur(5px);
}
.backdrop-blur-10{
    backdrop-filter: blur(10px);
}
.bg-img-150{
    background-size: 150%;
}
.bg-img-fixed{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
}
.bg-cover-center{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

// 二、通用類別
.hvr-sweep-to-right::before{
    background: #7555ff !important;
}
.hvr-sweep-to-left::before{
    background: $primary !important;
    color: white;
}
.hvr-sweep-to-left:hover{
    color: white !important;
}
.hvr-rectangle-out::before {
    background: $primary !important;
}

.rotate-90{
    transform: rotate(90deg);
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.blur-shadow{
    box-shadow: $primary 0px 0px 10px 0;
}
.letter-spacing-5{
    letter-spacing: 5px;
}
.letter-spacing-5-sm-0{
    letter-spacing: 0px;
}
.letter-spacing-10{
    letter-spacing: 10px;
}
.letter-spacing-20{
    letter-spacing: 20px;
}
.pointer-events-none{
    pointer-events: none;
}
.cursor-pointer{
    cursor: pointer;
}
.text-indent-2{
    text-indent: 2em;
}
.text-shadow{
    text-shadow: 2px 2px 4px #000
}
.text-shadow-white{
    text-shadow: 2px 2px 0 white;
}
.text-newline{
    word-break: break-all;
}
.rounded-top-15{
   border-radius: 15px 15px 0px 0px !important;
}
.rounded-20{
    border-radius: 20px;
}
.rounded-top-left-20{
    border-radius: 20px 0 0 0; 
 }
.rounded-top-right-20{
    border-radius: 0 20px 0 0; 
}
.no-scroll-x{
    overflow-x: hidden;
}
.scroll-y{
    overflow-y:auto
}
.z-index-1{
    z-index: 1;
}
.z-index-n1{
    z-index: -1;
}
.top-8{
    top: 8%;
}

// 三、圖片大小
.img-lg-50-sm-30{
    height: 30px !important;
    width: 30px !important;
}
.img-240{
    height: 240px;
}
.min-height-100{
    min-height: 100vh;
}
.img-lg-64-md-36{
    height: 36px;
}
.img-md-200-sm-150{
    height: 150px;
}
.img-lg-220-md-200{
    height: 200px;
}
// 動畫效果
.transition-fade{
    transition: all .4s ease-in-out !important;
}



@include media-breakpoint-up(lg) {
    // 橫向
    .bg-light-purple-secondary{
        background: linear-gradient(to right, $lightPurple 30%, $secondary 70%);
    }
    .bg-secondary-light-purple{
        background: linear-gradient(to right, $secondary 30%, $lightPurple 70%);
    }
    .letter-spacing-5-sm-0{
        letter-spacing: 5px;
    }
    .h-80{
        height: 80%;
    }
    .img-lg-50-sm-30{
        height: 50px !important;
        width: 50px !important;
    }
    .img-lg-64-md-36{
        height: 64px;
    }
    .img-md-200-sm-150{
        height: 200px;
    }
    .img-lg-220-md-200{
        height: 220px;
    }
}