// 手機
// login signup 頁面圖片
.loginBg{
  background-size: cover; 
}
// navbar
.logo{
    height: 54px;
}
// 手機 menu link
#navbarNav{
    font-size: 16px;
}
/* 避免文字移動位置 */
.navbar-nav .nav-link{
    position: relative;
    border-bottom: 2px solid transparent;
  }
  .navbar-nav .nav-link:hover{
    color: #4572c2 !important;
  }
.navbar-nav .nav-link::after{
    content: "";
    width: 4px;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    transition: width .4s;
  }

  // hover 僅針對線條
  .navbar-nav .nav-link:hover::after {
    background-color: #4572c2;
    width: 20%;
  }
  
  // hover 對線條
  #navbarNav .nav-link:hover{
    color: #4572c2;
    // background: white;
    width: 100%;
} 

#navbarNav .mainMenu .active-link {
    color: #4572c2 !important;
    border-bottom: 2px solid #4572c2 !important;
    // background: white; 不是這個
    width: 20%; // !important
    margin: 0 auto;
}
#navbarNav .login .active-link {
    color: #4572c2 !important;
    border-bottom: 2px solid #4572c2 !important;
    // background: white; 不是這個
}

// 註冊按鈕
#navbarNav .signup .active-link {
  background: #4572c2 !important;
  color: white !important;
}
// 頁籤 hover 顏色 沒東西????
.nav .nav-item button:hover{
    color: #4572c2 !important;
  }
.logo{
    height: 40px;
}

.banner{
    background-repeat: no-repeat;
    height: 358px;
    background-size: cover;
    margin-top: 90px;
}
.h1Text{
    font-size: 24px;
}
// 可以刪了
.bannerContent{
    padding: 160px 0;
}
.subTitle{
    font-size: 14px;
}
// 食譜title文字大小
.mainTitle{
  font-size: 16px;
}
.badgeSize{
  font-size: 10px;
}

// 產品價格大小
.priceSize{
  font-size: 16px;
}
/* 獎品 */
.prizes .card img{
    /* transform: rotateY(-90deg); */
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all ease-in-out 0.5s;
  }
  .prizes .card:hover img{
    opacity: 1;
    transform: rotateY(0deg);
  }
  .prizes .card .questionMark{
    /* transform: rotateY(0deg); */
    transform: rotateY(0deg);
    transition: all ease-in-out 0.5s;
  }
  .prizes .card:hover .questionMark{
    /* transform: rotateY(-90deg); */
    transform: rotateY(-180deg);
    opacity: 0;
  }
  .prizes .card .card-footer{
    opacity: 0;
  }
  
  .prizes .card:hover .card-footer{
    opacity: 1;
  }
  
  // 每頁 banner
  .bannerBg {
    width: 100vw;
    height: 50vh;
    // background-image: url("https://images.unsplash.com/photo-1604854391668-1beacc48417b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .mask {
      background-color: rgba(0, 0, 0, .2);
    // background-color: rgba(255, 255, 255, 0.6);
    width: 90vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    // backdrop-filter: blur(5px);
  }

  // checkoutMask 結帳半透明白色遮罩
  .checkoutMask{
    background-color: rgba(255, 255, 255, 0.6);
    width: 90vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    // color: #4572c2;
    background-image: linear-gradient(180deg, #4572c2 50%, #4572c2 50%);
    color: transparent; /* 文字顏色設定透明 */
    -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
    background-clip: text;


    letter-spacing: 15px; /* 這個不能太大否則無法置中 */
    font-weight: bold;
  }

// 桌機
@include media-breakpoint-up(lg) {
// login signup 頁面圖片
  .loginBg{
    background-size: 130%; 
  }

  // 控制註冊按鈕 hover
  #navbarNav .signup .text-decoration-none{
    transition: all .3s ease-in-out;
  }
  #navbarNav .signup .text-decoration-none:hover {
    background: #4572c2 !important;
    color: white !important;
  }

    .logo{
        height: 54px;
    }
    #navbarNav{
        font-size: 16px;
    }
    /* 避免文字移動位置 */
    .navbar-nav .nav-link{
        position: relative;
        border-bottom: 2px solid transparent;
      }
    .navbar-nav .nav-link::after{
        content: "";
        width: 4px;
        height: 2px;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        transition: width .4s;
      }

      .navbar-nav .nav-link:hover::after {
        background-color: #4572c2;
        width: 100%;
      }
      
      #navbarNav .nav-link:hover{
        color: #4572c2;
        // background: white;
    } 
    
    // 桌機 menu link

    #navbarNav .mainMenu .active-link {
        color: #4572c2 !important;
        border-bottom: 2px solid #4572c2 !important;
        // background: white;
        width: 100%;
    }

    .banner{
        height: 670px;
        width:100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 125px;
    }
    .h1Text{
        font-size: 40px;
    }
    .bannerContent{
        padding-top: 80px;
    }
    .mb-lg-80{
        margin-bottom: 80px;
    }
    .subTitle{
        font-size: 16px;
    }
    // 食譜title文字大小
    .mainTitle{
      font-size: 24px;
    }
    // 標籤大小
    .badgeSize{
      font-size: 14px;
    }
    // 產品價格大小
    .priceSize{
      font-size: 20px;
    }

  // 每頁 banner
    .text {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      font-size: 40px;
      text-align: center;
      // color: #4572c2;
      background-image: linear-gradient(180deg, #4572c2 50%, #4572c2 50%);
      color: transparent; /* 文字顏色設定透明 */
      -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
      background-clip: text;
      letter-spacing: 40px;
      font-weight: bold;
    }

    
  // checkoutMask 結帳半透明白色遮罩
  .checkoutMask{
    background-color: rgba(255, 255, 255, 0.6);
    width: 90vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}