.card .cardImg{
  // opacity: 0.9;
  overflow:hidden;
}
.card:hover .cardImg,.card:hover .cardTextCategory{
  opacity: .5;
}
.detail{
  opacity: 0;
  // 有時候不能點購物車 不知道為甚麼
  pointer-events: none;
}
.card:hover .detail{
  opacity: 1;
}
// 單一產品或食譜關聯食譜、產品資訊
.subDetail{
  opacity: 0;
  pointer-events: none;
}
.subImg:hover img{
  opacity: .5;
}
.subImg:hover .subDetail{
  opacity: 1;
}
// 僅限 食譜、產品物件 其他盡量不要是 card 結構
// .card:hover{
//   border: 1px solid #d04740 !important;
// }
// .card:hover .card-footer{
//   background: #fff1f0 !important;
// }
.enlargeImg{
  width: 300px;
  overflow:hidden;
}
.card .cardImg img{
  transform:scale(1,1);
  transition: all .4s ease-out;
}
.card:hover .enlargeImg img{
  transform:scale(1.2,1.2);
}

// 食譜和產品的圖片
.cardImg .card-img{
  height: 120px;
}
// 產品 折
.card-text span{
  font-size: 10px;
}
// 食譜分類
.card-text .cardTextCategory{
  top: 65px;
}

// 產品、食譜 title 記得之後home 也要加
// 10 改成 12
.card-footer .cardTextTitle{
  font-size: 14px;
}
// 產品、食譜 價格
.card-footer .cardTextPrice{
  font-size: 12px;
}

// 產品 評價
.card-footer .starRates{
  font-size: 10px;
}
// 產品、優惠特報頁籤標題 文字大小 
.navTitle{
  font-size: 14px;
}


// 桌機
@include media-breakpoint-up(lg) {
  // 食譜和產品的圖片
  .cardImg .card-img{
    height: 220px;
  }
 // 產品 折
.card-text span{
  font-size: 14px;
}

// 產品、食譜 title 記得之後home 也要加
.card-footer .cardTextTitle{
  font-size: 20px;
}
// 產品、食譜 價格
.card-footer .cardTextPrice{
  font-size: 16px;
}
// 產品 評價
.card-footer .starRates{
  font-size: 20px;
}
// 食譜分類
.card-text .cardTextCategory{
  top: 155px;
}
// 產品、優惠特報頁籤標題 文字大小 
.navTitle{
  font-size: 16px;
}

}