.pagination li a{
  font-size: 10px;
}

.pagination li span{
  font-size: 10px;
}

@include media-breakpoint-up(lg) {
  .pagination li a{
    font-size: 16px;
  }
  .pagination li span{
    font-size: 16px;
  }
  
}

