.white-circle{
  background: white;
  width: 320px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 15%;
  z-index: 1;
  border-radius: 50%;
}

.border-dashed-purple, .border-dashed-primary{
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 17%;
}
// 虛線 紫色
.border-dashed-purple{
  border: dashed 2px #5a5ad0;
}
// 虛線 主色
.border-dashed-primary{
  border: dashed 2px $primary;
}



@include media-breakpoint-up(md){
  .white-circle{
    width: 340px;
    height: 340px;
    top: 12%;
  }
  .border-dashed-purple, .border-dashed-primary{
    width: 320px;
    height: 320px;
    top: 14%;
  }
}
// 桌機
@include media-breakpoint-up(lg) {
  .white-circle{
    width: 370px;
    height: 370px;
    top: 13%;
    left: 6%;
  }
  // 虛線 紫色 主色
  .border-dashed-purple, .border-dashed-primary{
    height: 350px; 
    width: 350px;
    top: 15%;
    left: 8%;
  }
  .subTitle{
      font-size: 16px;
  }
  // 食譜title文字大小
  .mainTitle{
    font-size: 24px;
  }
  // 標籤大小
  .badgeSize{
    font-size: 14px;
  }
  // 產品價格大小
  .priceSize{
    font-size: 20px;
  }

// 每頁 banner
  .text {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    // color: #4572c2;
    background-image: linear-gradient(180deg, #4572c2 50%, #4572c2 50%);
    color: transparent; /* 文字顏色設定透明 */
    -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
    background-clip: text;
    letter-spacing: 40px;
    font-weight: bold;
  }

  
// checkoutMask 結帳半透明白色遮罩
.checkoutMask{
  background-color: rgba(255, 255, 255, 0.6);
  width: 90vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@include media-breakpoint-up(xl) {
  .white-circle{
    width: 470px;
    height: 470px;
    top: 2%; 
    left: 5%;
  }
  // 虛線 紫色 主色
  .border-dashed-purple, .border-dashed-primary{
    height: 450px; 
    width: 450px;
    top: 4%; 
    left: 6%;
  }
}  

.subTitle{
    font-size: 14px;
}
// 食譜title文字大小
.mainTitle{
  font-size: 16px;
}
.badgeSize{
  font-size: 10px;
}

// 產品價格大小
.priceSize{
  font-size: 16px;
}
/* 獎品 */
.prizes .card img{
    /* transform: rotateY(-90deg); */
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all ease-in-out 0.5s;
  }
  .prizes .card:hover img{
    opacity: 1;
    transform: rotateY(0deg);
  }
  .prizes .card .questionMark{
    /* transform: rotateY(0deg); */
    transform: rotateY(0deg);
    transition: all ease-in-out 0.5s;
  }
  .prizes .card:hover .questionMark{
    /* transform: rotateY(-90deg); */
    transform: rotateY(-180deg);
    opacity: 0;
  }
  .prizes .card .card-footer{
    opacity: 0;
  }
  
  .prizes .card:hover .card-footer{
    opacity: 1;
  }
  
  // 每頁 banner
  .bannerBg {
    width: 100vw;
    height: 50vh;
    // background-image: url("https://images.unsplash.com/photo-1604854391668-1beacc48417b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .mask {
      background-color: rgba(0, 0, 0, .2);
    // background-color: rgba(255, 255, 255, 0.6);
    width: 90vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    // backdrop-filter: blur(5px);
  }

  // checkoutMask 結帳半透明白色遮罩
  .checkoutMask{
    background-color: rgba(255, 255, 255, 0.6);
    width: 90vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    // color: #4572c2;
    background-image: linear-gradient(180deg, #4572c2 50%, #4572c2 50%);
    color: transparent; /* 文字顏色設定透明 */
    -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
    background-clip: text;
    letter-spacing: 15px; /* 這個不能太大否則無法置中 */
    font-weight: bold;
  }

