$fullHeart: url('@/assets/images/image4.png');
$heart: url('@/assets/images/image5.png');
// @/assets/seabed.png
/* 收藏按鈕 取消 hover */
.bookmarkBtn{
    img{
        height: 20px;
    }
}

.deleteBookmarkBtn{
    img{
        height: 20px;
    }
}
@include media-breakpoint-up(lg) {
    .bookmarkBtn{
        img{
            height: 36px;
        }
        &:hover{
            img{
                content: $fullHeart;
            }
        }
    }
    
    .deleteBookmarkBtn{
        img{
            height: 36px;
        }
        &:hover{
            img{
                content: url('@/assets/images/image5.png');
            }
        }
    }
}

