$fullHeart: url('@/assets/images/image4.png');
$heart: url('@/assets/images/image5.png');
// @/assets/seabed.png
/* 收藏按鈕 取消 hover */
.btn-bookmark, .btn-bookmark-delete{
    img{
        width: 20px;
        height: 20px;
    }
}

@include media-breakpoint-up(md) {
    .btn-bookmark{
        img{
            width: 36px;
            height: 36px;
        }
        &:hover{
            img{
                content: $fullHeart;
            }
        }
    }
    
    .btn-bookmark-delete{
        img{
            width: 36px;
            height: 36px;
        }
        &:hover{
            img{
                content: url('@/assets/images/image5.png');
            }
        }
    }
}

