

/* 購買按鈕 */
.btn-buy{
    // top: 80px;
    img{
        width: 30px;
        height: 30px;
    }
}
@include media-breakpoint-up(md) {
   /* 購買按鈕 */
    .btn-buy:hover{
        img{
            content: url('@/assets/images/icon-cart-hover.png');
        }
    }
    .btn-buy{
        // top: 155px;
        img{
            width: 48px;
            height: 48px;
        }
    }
}