// 甜點頁面 種類欄位
.categorySelector li a span.titleSize{
    font-size: 10px;
    margin-top: 5px;
  }

// 全部的圖示大小
.categorySelector li a img{
    width: 30px;
}
.categorySelector li a{
  border-bottom: 2px solid transparent;
  transition: all .4s ease-in-out;
}

.categorySelector li a:hover{
  color: #4572c2 !important;
}
  /* 滑行測試 */
  .blueLine{
    transition: all .3s ease-in-out ;
    width: 24px;
  }

  .activeAll{
    left: 5% !important;
  }
  /*1 全部 */
  
    /* 2 台式甜點 */
  .activeT{
    left: 21.8% !important;
  }


  /* 3 法式甜點 */
  .activeF{
    left: 38.5% !important;
  }

    /* 4 美式甜點 */
    .activeA{
    left: 55% !important;
  }

    /* 5 日式甜點 */
    .activeJ{
    left: 72% !important;
  }

    /* 6 義式甜點 */
    .activeI{
    left: 88.5% !important;
  }

  // 材料購買 種類
  // 1. 所有材料
  .activeAllIngredient{
    left: 9.3% !important;
  }
  // 2. 食材組合包
  .activePackage{
    left: 33% !important;
    width: 9%;
    // 或 8%
  }
  // 3. 熱銷單品
  .activeHot{
    left: 59.5% !important;
  }
  // 4.特價商品
  .activeSale{
    left: 84.5% !important;
  }

  // 會員特報 1. 優惠折扣
  .activeDiscount{
    left: 21.7% !important;
  }
  // 2.抽獎回饋
  .activeGift{
    left: 71.8% !important;
  }

/* 選定禁止點擊 */
  .liDisabled{
    pointer-events: none;
  }

// 平板
@include media-breakpoint-up(md) {
 .blueLine{
     width: 45px;
 }
// 2. 食材組合包
.activePackage{
  left: 34.5% !important;
}
}

// 電腦
@include media-breakpoint-up(lg) {
     .categorySelector li a span.titleSize{
       font-size: 20px;
     }
     .categorySelector li a img{
        width: 40px;
    }
    .blueLine{
        width: 84px;
    }
    // 電腦滑鼠移動 底線效果
    .categorySelector li a:hover{
      border-bottom: 2px solid #c9d6ff;
    }

      // 2. 食材組合包
  .activePackage{
    left: 33.7% !important;
    width: 100px !important;
  }

 }