// 全部的圖示大小
.category-selector{
  a{
    img{
      width: 30px;
    }
    color: $gray-600;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-in-out;

  }
}

.blue-line {
  position: absolute;
  height: 2px;
  width: 6.5%;

  bottom: 0;
  transition: all .4s ease-in-out;
}
.active-all{
  left: 2.7%;
}
.active-taiwan{
  left: 20.4%;
}
.active-france{
  left: 38%;
}
.active-usa{
  left: 55.8%;
}
.active-japan{
  left: 73.2%;
}
.active-italy{
  left: 90.8%;
}

  // 材料購買 種類
  // 1. 所有材料
  .activeAllIngredient{
    left: 9.3%;
  }

  // 2. 食材組合包
  .activePackage{
    left: 33%;
    width: 9%;
  }
  // 3. 熱銷單品
  .activeHot{
    left: 59.5%;
  }
  // 4.特價商品
  .activeSale{
    left: 84.5%;
  }

  // 會員特報 1. 優惠折扣
  .activeDiscount{
    left: 21.7%;
  }
  // 2.抽獎回饋
  .activeGift{
    left: 71.8%;
  }

  // 平板
  @include media-breakpoint-up(md) {
  // .blueLine{
  //     width: 45px;
  // }
  // 2. 食材組合包
  // .activePackage{
  //   left: 34.5%;
  // }
  .blue-line {
    width: 8.5%;
  }
  .active-all{
    left: 3%;
  }
  .active-taiwan{
    left: 20%;
  }
  .active-france{
    left: 37%;
  }
  .active-usa{
    left: 54.3%;
  }
  .active-japan{
  left: 71.4%;
}
  .active-italy{
    left: 88.5%;
  }
}

// 電腦
@include media-breakpoint-up(lg) {
   
  .category-selector{
    a{
      img{
        width: 40px;
      }
      
      &:hover{
        color: $primary;
        border-bottom: 2px solid #c9d6ff;
      }
    }
  }

      // 2. 食材組合包
  // .activePackage{
  //   left: 33.7%;
  //   width: 100px;
  // }

  .category-selector li a:hover .categoryImg1 {
    content: url('@/assets/images/allDessert2.png');
  }
  .category-selector li a:hover .categoryImg2 {
    content: url('@/assets/images/mooncake2.png');
  }
  .category-selector li a:hover .categoryImg3 {
    content: url('@/assets/images/macaroon2.png');
  }
  .category-selector li a:hover .categoryImg4 {
    content: url('@/assets/images/donut2.png');
  }
  .category-selector li a:hover .categoryImg5 {
    content: url('@/assets/images/cakeStr2.png');
  }
  .category-selector li a:hover .categoryImg6 {
    content: url('@/assets/images/pie2.png');
  }
}

@include media-breakpoint-up(xl) {
  .blue-line {
    width: 6.5%;
  }

  .active-all{
    left: 4.2%;
  }
  .active-taiwan{
    left: 21.2%;
  }
  .active-france{
    left: 38.3%;
  }
    .active-usa{
    left: 55.3%;
  }
    .active-japan{
    left: 72.3%;
  }
    .active-italy{
    left: 89.2%;
  }

}