// 全部的圖示大小
.category-selector{
  a{
    font-size: 30px;
    color: $gray-600;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-in-out;
  }
}

.blue-line {
  position: absolute;
  height: 2px;
  width: 6.5%;
  bottom: 0;
  transition: all .4s ease-in-out;
}
// 食譜
.active-all-recipe{
  left: 2.7%;
}
.active-taiwan{
  left: 20.4%;
}
.active-france{
  left: 38%;
}
.active-usa{
  left: 55.8%;
}
.active-japan{
  left: 73.2%;
}
.active-italy{
  left: 90.8%;
}
  // 材料購買 種類
.active-all-ingredient{
  left: 7%;
}
.active-package{
  left: 33.3%;
}
.active-hot{
  left: 60%;
}
.active-sale{
  left: 86.5%;
}

// 優惠特報、收藏
.active-discount, .active-recipes{
  left: 17.5%;
  width: 12%;
}
.active-gift, .active-products{
  left: 70.4%;
  width: 12%;
}

// 會員
.select-order-status{
  li:hover a{
    color: white !important;
    font-weight: bold;
  }
}
.active-order{
  background: $primary !important;
}

  // 平板
@include media-breakpoint-up(md) {
  .blue-line {
    width: 8.5%;
  }
  // 食譜
  .active-all-recipe{
    left: 3%;
  }
  .active-taiwan{
    left: 20%;
  }
  .active-france{
    left: 37%;
  }
  .active-usa{
    left: 54.3%;
  }
  .active-japan{
  left: 71.4%;
  }
  .active-italy{
    left: 88.5%;
  }
  // 材料購買 種類
  .active-all-ingredient{
  left: 7.1%;
  }
  .active-package{
  left: 32.9%;
  }
  .active-hot{
  left: 58.5%;
  }
  .active-sale{
  left: 84.3%;
  }

  // 會員特報、收藏
  .active-discount, .active-recipes{
    left: 20%;
    width: 8%;
  }
  .active-gift, .active-products{
    left: 72.5%;
    width: 8%;
  }
}

// 電腦
@include media-breakpoint-up(lg) {
   
  .category-selector{
    a{
      font-size: 40px;
      &:hover{
        border-bottom: 2px solid #c9d6ff;
        span{
          color: $primary;
        }
        i{
          color: $primary !important;
        }
      }
    }
  }

    // 材料購買 種類
.active-all-ingredient{
  left: 7.1%;
}
.active-package{
  left: 32%;
  width: 10.5% !important;
}
.active-hot{
  left: 58.5%;
}
.active-sale{
  left: 84.3%;
}

  // 會員特報、收藏
.active-discount, .active-recipes{
  left: 20%;
}
.active-gift, .active-products{
  left: 71.3%;
}

// 會員選擇訂單hover效果
.order-select{
  transition: all .3s ease-in-out;
  &:hover{
    background-color: $secondary;
  }
}
}

@include media-breakpoint-up(xl) {
  .blue-line {
    width: 6.5%;
  }
  // 食譜
  .active-all-recipe{
    left: 4.2%;
  }
  .active-taiwan{
    left: 21.2%;
  }
  .active-france{
    left: 38.3%;
  }
    .active-usa{
    left: 55.3%;
  }
    .active-japan{
    left: 72.3%;
  }
    .active-italy{
    left: 89.2%;
  }
  // 材料購買 種類
  .active-all-ingredient{
    left: 8.5%;
  }
  .active-package{
    left: 33.3%;
    width: 8% !important;
  }
  .active-hot{
    left: 59.3%;
  }
  .active-sale{
    left: 85%;
  }
    // 會員特報、收藏
.active-discount, .active-recipes{
  left: 21.2%;
}
.active-gift, .active-products{
  left: 72.3%;
}
}