// 全部的圖示大小
.category-selector{
  a{
    img{
      width: 30px;
    }
    color: $gray-600;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-in-out;

  }
}

.blue-line {
  position: absolute;
  height: 2px;
  width: 6.5%;
  bottom: 0;
  transition: all .4s ease-in-out;
}
// 食譜
.active-all-recipe{
  left: 2.7%;
}
.active-taiwan{
  left: 20.4%;
}
.active-france{
  left: 38%;
}
.active-usa{
  left: 55.8%;
}
.active-japan{
  left: 73.2%;
}
.active-italy{
  left: 90.8%;
}
  // 材料購買 種類
.active-all-ingredient{
  left: 7%;
}
.active-package{
  left: 33.3%;
}
.active-hot{
  left: 60%;
}
.active-sale{
  left: 86.5%;
}

  // 會員特報 1. 優惠折扣
  .activeDiscount{
    left: 21.7%;
  }
  // 2.抽獎回饋
  .activeGift{
    left: 71.8%;
  }

  // 平板
  @include media-breakpoint-up(md) {

  .blue-line {
    width: 8.5%;
  }
  // 食譜
  .active-all-recipe{
    left: 3%;
  }
  .active-taiwan{
    left: 20%;
  }
  .active-france{
    left: 37%;
  }
  .active-usa{
    left: 54.3%;
  }
  .active-japan{
  left: 71.4%;
}
  .active-italy{
    left: 88.5%;
  }
  // 材料購買 種類
.active-all-ingredient{
  left: 7.1%;
}
.active-package{
  left: 32.9%;
}
.active-hot{
  left: 58.5%;
}
.active-sale{
  left: 84.3%;
}
  // .activePackage{
  //   left: 34.5%;
  // }
}

// 電腦
@include media-breakpoint-up(lg) {
   
  .category-selector{
    a{
      img{
        width: 40px;
      }
      
      &:hover{
        color: $primary;
        border-bottom: 2px solid #c9d6ff;

        .category-img1 {
          content: url('@/assets/images/allDessert2.png');
        }
        .category-img2 {
          content: url('@/assets/images/mooncake2.png');
        }
        .category-img3 {
          content: url('@/assets/images/macaroon2.png');
        }
        .category-img4 {
          content: url('@/assets/images/donut2.png');
        }
        .category-img5 {
          content: url('@/assets/images/cakeStr2.png');
        }
        .category-img6 {
          content: url('@/assets/images/pie2.png');
        }

        .product-img1 {
          content: url('@/assets/images/fruit2.png');
        }
        .product-img2 {
          content: url('@/assets/images/food2.png');
        }
        .product-img3 {
          content: url('@/assets/images/strawberry2.png');
        }
        .product-img4 {
          content: url('@/assets/images/discount2.png');
        }
      }
    }
  }

    // 材料購買 種類
.active-all-ingredient{
  left: 7.1%;
}
.active-package{
  left: 32%;
  width: 10.5% !important;
}
.active-hot{
  left: 58.5%;
}
.active-sale{
  left: 84.3%;
}
        // 2. 食材組合包
  // .activePackage{
  //   left: 33.7%;
  //   width: 100px;
  // }
}

@include media-breakpoint-up(xl) {
  .blue-line {
    width: 6.5%;
  }
  // 食譜
  .active-all-recipe{
    left: 4.2%;
  }
  .active-taiwan{
    left: 21.2%;
  }
  .active-france{
    left: 38.3%;
  }
    .active-usa{
    left: 55.3%;
  }
    .active-japan{
    left: 72.3%;
  }
    .active-italy{
    left: 89.2%;
  }
  // 材料購買 種類
  .active-all-ingredient{
    left: 8.5%;
  }
  .active-package{
    left: 33.3%;
    width: 8% !important;
  }
  .active-hot{
    left: 59.3%;
  }
  .active-sale{
    left: 85%;
  }
}