.speech-bubble {
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 1%;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-left: 0;
    }
    &.speech-bubble-left:after {
        left: 0;
        border-right-color: white;
        margin-left: -4px;
        transform: rotate(150deg)
    }

    &.speech-bubble-right:after {
        right: -2px;
        border-right-color: $primary;
        transform: rotate(40deg)
    }
}