
// 產品、食譜圖片效果
.card{
  .card-img-hover{
    .card-img{
      height: 120px !important;
    }
  }
  .detail{
    opacity: 0;
  }
}
// 平板
@include media-breakpoint-up(md) {
  .card{
    .card-img-hover{
      .card-img{
        height: 220px !important;
      }
    }
  }
}
// 桌機
@include media-breakpoint-up(lg) {
  .card{
    .card-img-hover{
      overflow: hidden;
      .card-img{
        height: 220px !important;
        transition: all .4s ease-out;
      }
    }
    .detail{
      opacity: 0;
      transition: all .3s ease-out;
    }
    &:hover{
      .card-img-hover{
        .card-img{
          opacity: .5;
          transform: scale(1.2);
        }
      }
      .detail{
        opacity: 1;
      }
    }
  }
}