
.recipeTitle{
    font-size: 24px;
    letter-spacing: 8px;
    margin-left: 3px;
}
.speaker{
    height: 15px;
}
.speakerText{
    font-size: 12px;
}
// 區塊2
.questionTitle{
    font-size: 20px;
}
.questions{
    font-size: 14px;
}
.fixedTitle{
    font-size: 20px;
}
.contentTitle{
    font-size: 16px; // 20
}

// member 訂單 五個狀態 字體大小
.selectOrderStatus .btn span {
    font-size: 14px;
}

// 電腦
@include media-breakpoint-up(lg) {

    .recipeTitle{
        font-size: 40px;
        letter-spacing: 20px;
        margin-left: -3px;
    
    }
    .speaker{
        height: 30px;
    }
    .speakerText{
        font-size: 16px;
    }
    // 區塊2
    .questionTitle{
        font-size: 40px;
    }
    .questions{
        font-size: 20px;
    }
    // 區塊3
    .fixedTitle{
        font-size: 32px;
    }
    .contentTitle{
        font-size: 24px;
    }

    // member 訂單 五個狀態 字體大小
    .selectOrderStatus .btn span {
        font-size: 16px;
    }
}