// - 所有設定

// 頁尾點點
.swiper-pagination span{
  --swiper-pagination-color: $primary;
}

// 左右按鈕
.swiper-button-next, .swiper-button-prev{
  background: $primary;
  border-radius: 30px;
  width: 30px !important;
  height:30px !important;
  position: absolute !important;
  /* 要加 important 否則點入換頁會有問題 */
  
  // 所有箭頭樣式
  &::after{
    font-size: 15px !important;
    color: white;
  }
  &:hover{
    background: linear-gradient(to right, $primary , $purple);
  }
}
// 下一頁白色箭頭
.swiper-button-next::after{
  margin-left: 50%;
  transform: translateX(-50%);
}
// 首頁 -banner
.banner-swiper{
  height: 600px;
}

// 首頁 swiper
.swiper-home {
  height: 250px;
  // 箭頭位置 手機兩側點更方便
  .swiper-button-next{
    top:95%;
    right: 0;
  }
  .swiper-button-prev{
    top:95%;
    left: 0;
  }
}

// 食譜、產品 副圖片 swiper
.sub-picture-swiper{
  .swiper-button-next{
    top:90%;
    right:0;
  }
  .swiper-button-prev{
    top:90%;
    left: 0;
  }
  img{
    border: 3px solid transparent;
    transition: all .3s ease-in-out;
  }
}

@include media-breakpoint-up(md) {
  // 首頁 swiper 
  .swiper-home {
    height: 380px;
    .swiper-button-prev{
      left: 85%;
    }
  }
}
// 除了首頁的手機swiper 有包含副圖 產品、食譜
@include media-breakpoint-up(lg) {
  // 首頁 swiper 
  .swiper-home {
    .swiper-button-prev{
      left: 90%;
    }
  }

  // 食譜、產品 副圖片 swiper
  .sub-picture-swiper{
    .swiper-button-next{
      right:0;
    }
    .swiper-button-prev{
      left: 79%;
    }
    img{
      &:hover{
        border: 3px solid #a6bcfe;
      }
    }
  }
}