.border-bottom-blue{
    transform: scale(.9);
    transition: all .4s ease-in-out;
}

.header-active{
    width: 50%;
    transition: all .4s ease-in-out !important; 
    z-index: 1;
}

// login signup 頁面圖片
@include media-breakpoint-up(lg) {
    .border-bottom-blue{
        &:hover{
            transform: scale(1);
            box-shadow: 0 -2px 0 0 $primary inset;
        }
    }
}